{% extends "base.html" %}
{% load static %}

{% block content %}
<header class="masthead">
    <div class="container col-12 position-relative px-4 px-lg-5 mx-auto" id="hook-container">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 class="text-white text-center" id="hook">Om oss</h1>
                    <div class="d-flex justify-content-center mb-4"><a class="btn btn-success text-uppercase" href="">Våra tjänster</a></div>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="card-container">
        <div class="card col-12">
            <h2 class="card-title text-center">Om företaget</h2>
            <p>

            </p>
            <img class="card-image" src="https://i.ibb.co/6B2tsZP/logo.png" alt="logo" border="0">
        </div>

        <div class="card">
            <h2 class="card-title text-center">Om mig</h2>
            <p>

            </p>
            <img class="card-image" src="" alt="">
        </div>
    </div>
</main>
{% endblock %}