{% extends "base.html" %}
{% load static %}

{% block content %}
<header class="masthead">
    <div class="container col-12 position-relative px-4 px-lg-5 mx-auto" id="hook-container">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 class="text-white" id="hook">Vi skapar hemsidor för små företag!</h1>
                    <div class="d-flex justify-content-center mb-4"><a class="btn btn-success text-uppercase" href="">Våra tjänster</a></div>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <!--Services-->
    <section id="services">
        <div class="container container-content col-12 position-relative px-4 px-lg-5 mx-auto">
            {% for services in services %}
            <div class="container col-12 position-relative px-4 px-lg-5 mx-auto">
                <img src="{{ services.image}}" alt="{{ services.name }} icon">
                <h3 class="card-title text-center">{{ services.name }}</h3>
                <p class="text-center">{{ services.description }}</p>
                <h4 class="text-center">Från {{ services.price }} kr</h4>
            </div>
            {% endfor %}
        </div>  
    </section>
    
    <!--About-->
    <section id="about">
        <div class="container container-content col-12 position-relative px-4 px-lg-5 mx-auto">
            <div class="container col-12 position-relative px-4 px-lg-5 mx-auto">
                <h2 class="card-title text-center">Om företaget</h2>
                <p>

                </p>
                <img class="card-image" src="https://i.ibb.co/6B2tsZP/logo.png" alt="logo" border="0">
            </div>

            <div class="">
                <h2 class="card-title text-center">Kontakt</h2>
                <p>

                </p>
                <img class="card-image" src="" alt="">
            </div>
        </div>
    </section>
    
</main>
{% endblock %}