html {
    overflow-x: hidden;
}

nav {
    background-color: white;
    height: 10vh;
}

.container {
    margin-left: 5vw;
    margin-right: 5vw;
}

img {
    height: 10vh;
    margin-left: auto;
}

body {
    background-color: white;
}

.masthead {
    background-color: RGBA(108, 117, 125, .5);
    background-image: url('../masthead.jpg') !important;
    height: 60vh;
    width: 100vw;
}

#hook {
    margin-top: 15rem;
    padding-bottom: 3rem;
}

.container-fluid {
    --bs-gutter-x: 0rem;
}