html {
    overflow-x: hidden;
}

nav {
    background-color: white;
    height: 10vh;
}

.container {
    margin-left: 5vw;
    margin-right: 5vw;
}

img {
    height: 10vh;
    margin-left: auto;
}

body {
    background-color: white;
}

.masthead {
    background-color: RGBA(108, 117, 125, .5);
    background-image: url('../masthead.jpg') !important;
    height: 50vh;
    width: 100vw;
}

#hook {
    margin-top: 15rem;
    padding-bottom: 3rem;
}

.container-fluid {
    --bs-gutter-x: 0rem;
}

main {
    background-image: url('../background.png');
}

.card-image {
    background-color: white;
    border-radius: 5%;
    width: 10vw;
    height: fit-content;
    margin-left: 40%;
    margin-right: 40%;
}

.container-content {
    width: 100vw;
}
